.login-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.login-title{
    font-size: 3rem;
    font-weight: 700;
    color: #333;

    margin-top: 4rem;
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:1rem;
}